__pycache__
.env
.env.*
!.env.example
**/tokenizer/tokenizer.json
*.bin
*.ckpt
*.gguf
*.key
*.onnx
*.p12
*.pem
*.pfx
*.pth
*.safetensors
*.sft
.DS_Store
.vscode
/.pytest_cache
/.ruff_cache
/.uv-cache
/cache
/config.json
/config_states/
/embeddings
/extensions
/forge_neo_model_paths.yaml
/api-auth.txt
/gradio-auth.txt
/logs/
/models/**/*
/output
/outputs
/params.txt
/repositories
/secrets/
/styles.csv
/styles.csv.bak
/sysinfo*.json
/tmp
/work/
/ui-config.json
/user.css
/venv
/webui-user.bat
/webui-user.local.bat
/webui-user.sh
notification.mp3
